* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e5e5e5;
  padding: 3%;
}
.app {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  max-width: 1020px;
  margin: auto;
}
nav {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}
nav img {
  width: 120px;
}
nav button {
  background: #ff385c;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.hero {
  padding: 60px 40px;
  display: grid;
  align-items: center;
  gap: 80px;
}
.hero-img {
  justify-self: center;
  width: 100%;
  max-width: 1100px;
  object-fit: cover;
}

.hero-content {
  display: grid;
  gap: 1rem;
}
.hero-title {
  color: #2f2f36;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
}
.hero-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #222;
  max-width: 380px;
}
.hero-btn {
  margin-top: 8px;
  background: #ff385c;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.8rem 2.5rem;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: max-content;
}

.features {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

/* cards */
.card {
  max-width: 358px;
  min-width: 300px;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  color: #666;
  cursor: pointer;
  transition: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 20px;
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
}
.card:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.card--top {
  width: 100%;
  min-height: 240px;
  padding: 0.8rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
}
.card--top__btn {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0.4rem;
  font-weight: 400;
  font-size: 15.24px;
  line-height: 110%;
  text-align: center;
  color: #222222;
}
.card--bottom {
  padding-right: 4px;
  display: grid;
  gap: 2px;
}
.card--bottom__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  font-weight: 500;
}
.card--bottom__header strong {
  font-weight: 600;
}
.card--bottom__price {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.card-info {
  font-weight: 300;
}

/* footer */
footer {
  margin-top: 40px;
  text-align: center;
  padding: 0.5rem;
  background: #2f2f36;
  color: #fff;
  display: grid;
}
footer small {
  color: #e5e5e5;
}

/* media query */

@media (max-width: 600px) {
  nav,
  .hero,
  .features {
    padding-inline: 1rem;
  }
  .card {
    width: 100%;
  }
}

/* **************************************** 
COMMENT: practice   
***************************************** */
